.cell {
  background-color: #F4F4F4;
  border-radius: 0.3em;
  margin: 12%;
  height: 65%;
  width: 65%;

  &:not(.disabled) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }

  &:not(.disabled):not(.disable-scale):hover {
    transform: scale(1.3);
    cursor: pointer;
  }

  position: relative;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  transition: transform 0.4s ease;
}

.disabled {
  background-color: #786961;
  transform: scale(.75);
}

.cell-img {
  height: 100%;
  width: 100%;
}

.disable-hover {
  pointer-events: none;
}

.watering-alert {
  animation: shift linear 2s infinite;
  &:not(.disable-scale) {
    animation: pulse linear 2s infinite;
  }
}

@keyframes shift {
  0% {
    border-color: #F8D568;
  }
  50% {
    border-color: #FFA500;
  }
  100% {
    border-color: #F8D568;
  }
}

@keyframes pulse {
  0% {
    border-color: #F8D568;
    transform: scale(1);
  }
  50% {
    border-color: #FFA500;
    transform: scale(1.2);
  }
  100% {
    border-color: #F8D568;
    transform: scale(1);
  }
}

.cell-modal {
  height: .1vh;
  max-height: .1vh;
  width: .1vw;
  max-width: .1vw;
}

.cell-tooltip-text {
  visibility: hidden;
  font-size: x-small;
  font-family: 'Arial';
  width: max-content;
  top: 100%;
  background-color: #483C3C;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.cell:hover .cell-tooltip-text {
  &:not(.disable-hover):not(.hidden) {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }
}

.hidden {
  visibility: hidden;
}
