// .cell {
//     background-color: white;
//     border-radius: 5px;
//     border: solid white 3px;
//     margin: 10px;
//     height: 65%;
//     width: 65%;
//     &:not(.disabled):hover {
//         transform: scale(1.3);
//     }
// }

.cell {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    height: 65%;
    width: 65%;
    &:not(.disabled):hover {
        transform: scale(1.3);
    }
    position: relative;
    backface-visibility: hidden;
}

.disabled {
    background-color: #786961;
    transform: scale(.75);
    margin: 12px;
}

.cell-img {
    height: 100%;
    width: 100%;
}

.disable-hover {
    pointer-events: none
}
