.plant-element, .placed-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3% 0 3%;
  color: #f4f4f4;
  font-size: xx-large;
  font-weight: bolder;
  height: 25%;
}

.placed-element {
  margin-left: 0;
}

.plant-info-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.plant-image, .placed-image {
  border-radius: 10px;
  height: 60px;
  width: 55px;
  object-fit: cover;
  margin-right: 3%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}

.plant-image {
  border: 6px solid #93a854;
}

.placed-image {
  border: 6px solid #f4f4f4;
}

.detail-button {
  border: none;
  background-color: #dd7c3e;
  color: #f4f4f4;
  font-weight: bolder;
  border-radius: 25px;
  height: 6vh;
  width: 12vw;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.list-container {
  background-color: #beab95;
  height: calc(100vh - 190px);
  width: calc(100vh - 190px);
  border-radius: 15px;
  flex-shrink: 0;
  overflow: hidden;
  overflow-x: hidden;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.list-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: .5em;
}

.list-button {
  border: none;
  font-weight: bold;
  border-radius: 4px;
  height: 5vh;
  min-width: 11vw;
  // margin-bottom: 0.5em;
  // width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1em;
  margin-top: .5em;
}

.empty-list-text {
  color: #483C3C;
  text-align: center;
}

.garden-view-container, .wishlist-view-container {
  height: 100%;
}

.plant-element-container {
  height: 90%;
  overflow: scroll;
}

.wishlist-checkbox {
  width: 2em;
  height: 2em;
}