#grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    background-color: #beab95;
    height: calc(100vh - 190px);
    width: calc(100vh - 190px);
    border-radius: 15px;
    flex-shrink: 0;
}

