.detail-page{
  color: #F4F4F4;
  background: #BEAB96;

}

.plant-img{
  width: 20em
}

.at-a-glance{
  background: #F4F4F4;
  color: #483C3C
}

.common{
  color: #AF2268;
}

.header{
  background: #F4F4F4;
  color: #AF2268;
}