.card {
    background-color: #f4f4f4;
    margin-top: 0.8em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 10px;
}

.card > img {
    height: 7em;
    object-fit: cover;
    border-radius: 1em;
}

.plant-name {
    text-align: left;
    // font-weight: 1000000;
    margin: 0.1em;
    font-size: 1.5em;
    color: #af2268;
}

.card-icons-container {
    display: flex;
    justify-content: space-between;
}

.card-icon {
    font-size: 28px;
    position: relative;
}

.card-icons {
    display: flex;
    align-items: center;
}

.left-icon-text {
    left: 0;
}

.hardiness-text {
    right: 0;
}

.tooltip-text {
    visibility: hidden;
    font-size: small;
    font-family: 'Arial';
    width: fit-content;
    top: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.card-icon:hover .tooltip-text {
    visibility: visible;
}
