header {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    width: 100%;
    padding: 10px;
}

.relative-container {
    position: relative;
}

#home {
    display: contents;
}

.header-logo {
    width: 450px;
}

#userIcon {
    position: absolute;
    font-size: xxx-large;
    top: 70%;
    left: 105%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.user-modal {
    position: absolute;
    top: 135%;
    left: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #f4f4f4;
    border: solid 2px #786961;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
    z-index: 30;
    & p {
        margin: 10%;
        color: #af2268;
        cursor: pointer;
    }
}

.user-modal-hidden {
    visibility: hidden;
    opacity: 0;
}

.user-modal-focus {
    visibility: visible;
    opacity: 1;
}

.user-modal a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #af2268;
}
