// #plants {
//     height: calc(100vh - 125px);
//     min-height: 658px;
//     width: 260px;
//     flex-shrink: 0;
//     background-color: #beab95;
//     margin: 0 20px 0 20px;
//     overflow: scroll;
//     border-radius: 15px;
// }

#plants {
    height: 100%;
    width: 20%;
    background-color: #beab95;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 1em;
    color: #483C3C;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    height: calc(100vh - 190px);
}

#plants h2 {
    color: #F4F4F4;
    font-size: 2em;
    margin: 0.2em;
}

.search{
    display: flex;
    background: #f4f4f4;
    border-radius: 1em;
    padding: 0.3em;
}

.submit-search{
    border: none;
    background: #8F0D4E;
    color: #f4f4f4;
    border-radius: 4em;
    padding-top: 0.33em;
}

.search-bar{
    border: none;
    font-size: 1.2em;
    color: #BEAB96;
    background: transparent;
    width: 80%;
}
