.cell-info {
    position: absolute;
    bottom: 110%;
    left: -270%;
    background-color: #f4f4f4;
    margin-top: 0.8em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 10px;
}

.cell-actions {
    display: flex;
    align-items: center;
}

.cell-button {
    background-color: #af2268;
    color: #f4f4f4;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 5em;
    pointer-events: auto;
    display: flex;
    align-items: center;
    padding: 0.4em;
    margin: .5em;
    text-decoration: none;
}

.card-image {
    height: 7em;
    object-fit: cover;
    border-radius: 1em;
}

.plant-icon {
    padding-left: 0.3em
}