.cell-info, .cell-actions, .cell-button, .card-image, .icon {
    z-index: 3;
}

.cell-info {
    position: absolute;
    bottom: 110%;
    left: -270%;
    background-color: #f4f4f4;
    margin-top: 0.8em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 10px;
    min-width: 200px;
}

.cell-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cell-button {
    position: relative;
    background-color: #af2268;
    color: #f4f4f4;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 5em;
    pointer-events: auto;
    display: flex;
    align-items: center;
    padding: 0.4em;
    margin: .5em;
    text-decoration: none;
}

.card-image {
    height: 7em;
    object-fit: cover;
    border-radius: 1em;
}

.icon {
    padding-left: 0.3em
}

.cell-action-tooltip-text {
    visibility: hidden;
    font-size: x-small;
    font-family: 'Arial';
    width: max-content;
    top: 100%;
    background-color: #483C3C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cell-button:hover .cell-action-tooltip-text {
    visibility: visible;
    opacity: 1;
}
