.cell-info {
    position: absolute;
    bottom: 110%;
    left: -250%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
    z-index: 1;
    width: 12em
}

.cell-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell-button {
    background-color: #af2268;
    color: #f4f4f4;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 5em;
    pointer-events: auto;
    display: flex;
    align-items: center;
    padding: 0.4em;
}

.card-image{
    border-radius: 1em;
}

.plant-icon{
    padding-left: 0.3em
}