nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

.nav-button, .clear-button {
  border: none;
  font-weight: bold;
  border-radius: 25px;
  height: 5vh;
  width: 15vw;
  margin-bottom: 0.5em;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1em
}

.nav-icon{
  padding-right: 0.5em;
}

.nav-button {
  background-color: #beab95;
  color: #483c3c;
  width: 100%;
}

.key {
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  background-color: #beab95;
  color: #483c3c;
  font-weight: bolder;
  margin-bottom: 0.5em;
  width: 100%;
}

.key-text {
  padding-left: 3%;
}

.key-symbol-container {
  display: flex;
  align-items: center;
}

.empty-symbol, .ready-symbol, .planted-symbol, .unavailable-symbol {
  border: none;
  border-radius: 0.3em;
  height: 55%;
  width: 12%;
  background-color: #f4f4f4;
  margin: 0 5%;
}

.ready-symbol, .planted-symbol {
  background-image: url('../../../public/images/plant.png');
  background-size: cover;
}

.empty-symbol, .ready-symbol {
  border: 5px solid #f4f4f4;
}

.planted-symbol {
  border: 5px solid #93a854;
}

.unavailable-symbol {
  border: 5px solid #786961;
  background-color: #786961;
}

.clear-button {
  background-color: #af2268;
  color: #f4f4f4;
  cursor: pointer;
}

.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #af2268;
  font-weight: bolder;
}

.pop-up-button-container {
  display: flex;
  justify-content: space-around;
}

.pop-up-button {
  border: none;
  border-radius: 25px;
  height: 5vh;
  width: 4vw;
}

.pop-up-button:hover {
  background-color: #af2268;
  color: #f4f4f4;
  cursor: pointer;
}