#settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#zip-code {
  display: flex;
  width: 50%;
  justify-content: space-around;
  & input {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: x-large;
  }
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#zip-input-box {
  display: flex;
  align-items: center;
  & input {
    margin-right: 10px;
  }
}

#hardiness-zone {
  color: gray;
  font-size: large;
  margin-right: 42px;
}
